<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Database=Northwind_Lite;Trusted_Connection=True" />
  </connectionStrings>
</configuration>