<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString" providerName="System.Data.SqlClient"
         connectionString ="Server=10.19.150.18\Developer; Database= Northwind_Lite;User=curso;password=curso "/>
  </connectionStrings>
</configuration>